<!DOCTYPE html>
<html lang="en" data-page="home">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/headers') %>
    <div class="container">
      <!-- Search Container -->
      <%- include('partials/search') %>
      <!-- End Search Container -->

      <main>
        <section>
          <div class="grid">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Total Transaction</div>
              </div>
              <div class="card-body" id="total">
                <div class="table-skeleton-wrap">
                  <div class="table-skeleton"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <div class="card-title">Daily Transaction</div>
              </div>
              <div class="card-body" id="daily">
                <div class="table-skeleton-wrap">
                  <div class="table-skeleton"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="card">
          <div class="card-title">Monthly Transaction</div>
          <div id="chart">
            <div class="big-skeleton-wrapper">
              <div class="big-skeleton"></div>
            </div>
          </div>
        </div>

        <section>
          <div class="table-wrapper">
            <div class="table-header">
              <div class="table-title">
                <span class="live">Live Transactions</span>
              </div>
            </div>
            <div class="table-content">
              <table>
                <thead>
                  <tr>
                    <th>Transaction ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Age</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody id="table-transaction">
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="table-footer">
              <button class="table-footer-button" id="load-more">
                Load More
              </button>
            </div>
          </div>
        </section>
        <section></section>
      </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/transactions.js"></script>
    <script src="/js/liveTx.js"></script>
  </body>
</html>
