<!DOCTYPE html>
<html lang="en" data-page="user" data-username="<%= username %>">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/headers') %>
    <div class="container">
      <!-- Search Container -->
      <%- include('partials/search') %>
      <!-- End Search Container -->

      <main>
        <section>
          <ul class="table-list">
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
            <li>
              <span class="skeleton-list"></span
              ><span class="skeleton-list"></span>
            </li>
          </ul>
        </section>
        <section>
          <div class="table-wrapper">
            <div class="table-header">
              <div class="table-title">
                Transactions
                <select id="filterTransactions">
                  <option value="All" selected>Filter</option>

                  <option value="Tip">Tip</option>
                </select>
              </div>
            </div>
            <div class="table-content">
              <table>
                <thead>
                  <tr>
                    <th>Transaction ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Age</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody id="table-transaction">
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                    <td>
                      <div class="table-skeleton-wrap">
                        <div class="table-skeleton"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer">
              <button class="table-footer-button" id="load-more">
                Load More
              </button>
            </div>
          </div>
        </section>
        <section></section>
      </main>
    </div>
    <script src="/js/transactions.js"></script>
  </body>
</html>
