<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <title>Matscan</title>
  <meta
    name="title"
    content="Matscan"
  />
  <meta name="description" content="" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta
    property="og:title"
    content="Matscan"
  />
  <meta property="og:description" content="" />
  <meta property="og:image" content="/img/meta.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="" />
  <meta
    property="twitter:title"
    content="Matscan"
  />
  <meta property="twitter:description" content="" />
  <meta property="twitter:image" content="/img/meta.jpg" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/favicon-16x16.png"
  />
  <link rel="manifest" href="/img/site.webmanifest" />
  <title>Matscan</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
